/*------------------------------------*\
  #HEADER
\*------------------------------------*/

/* .header__title {
  text-align: center;
  font-size: 3em;
} */

/*------------------------------------*\
  #CONTENT
\*------------------------------------*/

#root {
  min-width: 600px;
}

#content {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
  padding: 5px;
}

/* #content__sprint {
  padding: 5px;
  min-width: 400px;
}

.content__sprint__task {
}

#content__backlog {
  padding: 5px;
  min-width: 250px;
}

.content__backlog__task {
}

#content__new-task {
  padding: 5px;
  min-width: 250px;
} */

/* #content__new-task input {
  border: 1px solid transparent;
  border-bottom: 1px solid gray;
  font-size: 1rem;
  height: 2em;
  line-height: 1.5;
}

#content__new-task input:focus {
  outline: none;
} */

/* .content__new-task__button__create {
  font-size: 1em;
  padding: 5px 10px;
  min-width: 100px;
}

.content__new-task__button__reset {
  font-size: 1em;
  padding: 5px 10px;
  float: right;
  color: brown;
} */

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
  text-align: center;
  font-size: 1em;
}
